.root {
    -fx-background-color: #3c3f41; /* Gray background */
}

.label {
    -fx-text-fill: #4CAF50; /* Green text */
    -fx-font-size: 18px;
    -fx-background-radius: 15;

    -fx-border-radius: 15;
}




.combo-box .list-cell {
    -fx-background-color: #3c3f41; /* Green background for dropdown list */
    -fx-text-fill: #4CAF50 ; /* Gray text for dropdown list */
}

.combo-box .cell:hover {
    -fx-background-color: #6c6e70; /* Darker green background for hovered item in dropdown list */
}

#labelTime1 {
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-size: 18px;
    -fx-background-color: grey; /* Green background */
    -fx-padding: 5;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}
#labelTime2 {
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-size: 18px;
    -fx-background-color: grey; /* Green background */
    -fx-padding: 5;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}


#nvPartieBtn {
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#partiesBtn {
    -fx-background-color: #21201D;
    -fx-text-fill: #90908E;
    -fx-font-size: 10px;
}


#tournoisBtn {
    -fx-background-color: #21201D;
    -fx-text-fill: #90908E;
    -fx-font-size: 10px;

}

#btnJouer {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}

#btnTournoi {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}