.root {
    -fx-background-color: #3c3f41; /* Gray background */
}

.button {
    -fx-cursor: hand;
}

.combo-box .arrow-button {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #2b2b2b; /* Green background for dropdown list */
    -fx-text-fill: white ; /* Gray text for dropdown list */
    -fx-text-alignment: center;
}

.combo-box .cell:hover {
    -fx-background-color: #6c6e70; /* Darker green background for hovered item in dropdown list */
}

#labelTime1 {
    -fx-border-radius: 5;
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-size: 18px;
    -fx-background-color: grey; /* Green background */
    -fx-padding: 5;
    -fx-background-radius: 2;
}
#labelTime2 {
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-size: 18px;
    -fx-background-color: grey; /* Green background */
    -fx-padding: 5;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}


#NVPartie {
    -fx-background-color: #21201D;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#Partie {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}


#Joueurs {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 10px;

}
.text-field {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-background-color: #2b2b2b; /* Couleur d'arrière-plan */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-border-color: #3c3f41; /* Couleur de la bordure */
    -fx-font-size: 20px; /* Taille de la police */
}

#btnJouer {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}

#btnJouer:hover {
    -fx-background-color: #43A047;
}

#btnTournoi {
    -fx-background-color: #171715;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}

#btnValider {
    -fx-background-color: #171715;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}
#menuTournoi {
    -fx-background-color: #171715;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}
#btnValider2 {
    -fx-background-color: #171715;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}
#btnTournoi:hover {
    -fx-background-color: black;
}

#btnJouerBot {
    -fx-background-color: #171715;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
}

#btnJouerBot:hover {
    -fx-background-color: black;
}


.board {
    -fx-alignment: center;
}

.messageEndGame {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-max-width: 300px;
    -fx-max-height: 100px;
    -fx-text-alignment: center;
}

.afterMatch {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-max-width: 300px;
    -fx-max-height: 100px;
    -fx-text-alignment: center;
}

